.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 600px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.card {
  width: 500px;
  height: 170px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 15px;
}

#updateInput {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}